@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a,
	input,
	button,
	textarea {
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply hover-animation bg-white font-twitter-chirp text-light-primary leading-[18px];
	}
}

@layer components {
	.hover-animation {
		@apply transition-colors duration-200;
	}

	.hover-card {
		@apply hover:bg-black/[0.03] focus-visible:bg-black/[0.03];
	}

	.blur-picture {
		@apply transition-colors duration-200 accent-tab rounded-full hover:brightness-75 active:brightness-100;
	}

	.custom-button {
		@apply transition-colors duration-200 rounded-full p-3 disabled:cursor-not-allowed disabled:opacity-50;
	}

	.custom-underline {
		@apply transition-colors duration-200 underline decoration-transparent outline-none [text-decoration-thickness:1px] 
           hover:decoration-inherit focus-visible:decoration-inherit;
	}

	.main-tab {
		@apply outline-none focus-visible:ring-2 focus-visible:ring-[#878a8c] focus-visible:transition-shadow 
           focus-visible:duration-200;
	}

	.accent-tab {
		@apply main-tab;
	}

	.accent-tab:focus-visible {
		@apply ring-accent/80;
	}

	.accent-bg-tab {
		@apply focus-visible:bg-main-accent/10;
	}

	.blur-picture {
		@apply hover-animation accent-tab rounded-full transition hover:brightness-75 active:brightness-100;
	}

	.trim-alt {
		@apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
	}
}

/* 

  .menu-container {
    @apply z-10 rounded-md bg-main-background outline-none 
           [box-shadow:#65778633_0px_0px_15px,_#65778626_0px_0px_3px_1px] 
  }
}

html {
  overflow-y: scroll;
} */

.content a {
	color: #1da1f2;
}

.content a:hover {
	color: #1da1f2;
	text-decoration: underline;
}

.invisible {
	display: none;
}

.ellipsis:after {
	content: "...";
}
